Django>=5.0,<6.0
psycopg[binary]>=3.2 ; platform_system!="Windows"
django-ckeditor>=6.7.1
Pillow>=10.3.0
bleach>=6.2.0
beautifulsoup4>=4.12.3
readability-lxml>=0.8.1
requests>=2.32.3
celery>=5.4.0
redis>=5.0.7
django-taggit>=6.1.0
beautifulsoup4
requests

